body {
    background-color: wheat;
}

.jumbotron{
    background-image: url("../image/contact.jpg");
    color: wheat;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width : 1440px) {
    /*contact-content*/
    #contact-content::after{
        clear: both;
        display: block;
        content: "";
    }
    #contact-content{
        padding-top: 2rem;
        padding-left: 5%;
        padding-bottom: 2rem;
        height: 100%;
    }
    #contact-information{
        margin-top: 2rem;
        color: darkblue;
        float: left;
        width: 50%;
         
    }
    #contact-information h2{
        font-weight: 400;
        font-size: 2rem;
    }
    #contact-information button{
        margin-top: 2rem;
        padding: 15px 30px;
        font-size: 1rem;
        color: wheat;
        background-color: goldenrod;
    }
    #contact-information button:hover{
        color: grey;
        background-color: gold;
    }
    #contact-information h1{
        margin: 3rem 0 2rem 0;
        font-size: 2rem;
    }
    #contact-information h3{
        line-height: 50px;
        font-weight: 400;
        font-size: 1.2rem;
        color: black;
    }
    #contact-information span{
        color: blue;
        cursor: pointer;
    }
    #contact-information a{
        font-size: 1.5rem;
        color: blue;
        margin-right: 1rem;
    }
    #contact-form{
        margin-top: 2rem;
        float: left;
        width: 50%;
         
    }
    #contact-form p{
        font-size: 1.5rem;
    }
    #contact-form form *{
        margin: 1rem 0 1rem 0;
    }
    #contact-form form input[type=text]{
        height: 25px;
    }
    #lname, #fname{
        width: 45.7%;
    }
    #email, #pnumber, #place{
        width: 94%
    }
    textarea {
        width: 80%;
    }
    #contact-form form input::placeholder{
        font-size: 1rem;
    }
    #contact-form form label span{
        color: red;
    }
    #interest::after{
        clear: both;
        content: "";
        display: block;
    }
    #interest{
        font-size: 1.2rem;
    }
    #interest label{
        margin: 1rem 0 1rem 0;
        font-size: 1rem;
    }
    #interest .checkbox-interest{
        width: 40%;
        float: left;
        margin: 0;
    }
    #contact-form form textarea::placeholder{
        font-size: 1rem;
    }
    #contact-form form textarea{
        margin-bottom: 0;
    }
}
@media only screen and (max-width : 768px) {
    #contact-information{
        width: 100%;
    }
    #contact-form{
        width: 100%;
    }
    #lname, #fname{
        width: 45.7%;
    }
}
@media only screen and (max-width : 480px) {
    #lname, #fname{
        width: 45%;
    }
    #interest .checkbox-interest{
        width: 100%;
    }
    textarea {
        width: 320px;
    }
}