#product-content{
    height: 100%;
    padding: 1rem;
}
#product-content h1{
    font-size: 2rem;
    display: inline-block;
}
#btnAdd{
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#nameSearch {
    background-image: url('/css/searchicon.png'); 
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%; 
    font-size: 1rem; 
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
}