@media only screen and (max-width : 1440px) {
    /*background homepage*/
    #background{
        background-image: url("image/cse.jpg");
        height: 800px;
        opacity: 1;
    }
    #background h1{
        padding-top: 8%;
        padding-left: 8%;
        margin-bottom: 0px;
        color: wheat;
        font-size: 3em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
        line-height: 120%;
    }
    #background span{
        font-size: 3em;
        padding-left: 8%;
        color: wheat;
        display: inline-block;
        line-height: 0.5em;
        font-weight: bolder;
    }
    #background h2{
        padding-top: 2%;
        padding-left: 8%;
        color: wheat;
        font-weight: 200;
        font-size: 2em;
        margin: 0;
    }
    #clickHome #whycse{
        float: left;
        margin-top: 70px;
        color: wheat;
        font-size: 1.5em;
        font-weight: 200;
        text-decoration: none;
    }
    #clickHome #whycse:hover{
        color: aqua;
    }
    #clickHome a:first-child{
        float: left;
        padding: 20px 70px;
        margin: 50px 40px 0px 8%;
        color: wheat;
        font-weight: 200;
        font-size: 1.5em;
        background-color: darkblue;
        cursor: pointer;
        border: 1px solid grey;
        text-decoration: none;
    }
    #clickHome a:first-child:hover{
        background-color: wheat;
        color: grey;
        transition: 0.5s;
    }
    /*container information product*/
    #container::after{
        clear: both;
        content: "";
        display: block;
    }
    #container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -700px;
        height: 680px;
        background-color: wheat;
    }
    #container h3{
        padding-top: 30px;
        padding-left: 20px;
        font-weight: 600;
        font-size: 1.3em;
        color: darkblue;
    }
    #container-box .box{
        float: left;
        width: 30%;
        box-sizing: border-box;
        padding-left: 2%;
    }
    #container-box .box a{
        text-decoration: none;
        color: blue;
        font-weight: bold;
        padding-bottom: 20px;
    }
    #container-box .box a:hover{
        opacity: 0.6;
    }
    #container-box .box img{
        width: 100%;
        margin-top: 20px;
    }
    #container-box .content-box{
        position: relative;
        box-sizing: border-box;
        font-size: 1.2em;
        bottom: 0;
        border: 1px solid grey;
        background-color: wheat;
        color: darkblue;
        width: 100%; 
        padding: 20px; 
        border-top: none;
    }
    #background-outside-container{
        height: 500px;
        background-color: wheat;
    }
    #animation{
        animation-name: logo;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        height: 100px;
        width: 350px;
        box-sizing: border-box;
        position: relative;
    }
    #animation img{
        width: 30%;
        margin: 100px 10px;
        box-sizing: border-box;
        float: left;
    }
    @keyframes logo{
        0%   {left:0px; top:0px;}
        100% {left:800px; top:0px;}
    }
    /* introduce */
    #container-introduce::after{
        clear: both;
        content: "";
        display: block;
    }
    #container-introduce .introduce-box{
        box-sizing: border-box;
        float: left;
        width: 33.3%;
        height: 100%;
    }
    #container-introduce .introduce-box h3{
        padding: 40px 40px;
        padding-bottom: 0;
        font-weight: 600;
        font-size: 1.4em;
        color: wheat;
    }
    #container-introduce .introduce-box span{
        font-size: 3em;
        padding: 0 0 0 40px;
        color: wheat;
        display: inline-block;
        line-height: 0.5em;
        margin-top: -100px;
        font-weight: bolder;
    }
    #container-introduce .introduce-box p{
        text-align: justify;
        padding: 40px 60px 40px 40px; 
        color: wheat;
        font-size: 1.5em;
    }
    #container-introduce .introduce-box:nth-child(1){
        background-color: yellowgreen;
    }
    #container-introduce .introduce-box:nth-child(2){
        background-color: dodgerblue;
    }
    #container-introduce .introduce-box:last-child{
        background-color: turquoise;
    }
    /*Footer*/
    footer{
        background-color: lavender;
        height: 480px;
        color: grey;
    }
    footer h3{
        padding: 8% 0 2% 8%;
        color: grey;
        margin: 0;
    }
    footer #footer-product::after{
        clear: both;
        content: "";
        display: block;
    }
    footer #footer-product div{
        float: left;
        width: 25%;
        box-sizing: border-box;
        padding: 0 0 80px 8%;
        line-height: 1.5em;
        font-size: 1.1em;
    }
    footer #footer-product div:nth-child(1){
        width: 40%;
    }
    footer #footer-contact img{
        float: left;
        width: 5%;
        box-sizing: border-box;
        margin: 0 0 4% 2%;
    }
    footer #footer-contact > img:nth-child(1){
        margin-left: 8%;
    }
    footer #footer-contact span{
        float: left;
        box-sizing: border-box;
        margin: 1.5% 2% 4% 2%;
        font-size: 1.2em;
    }
    footer #footer-contact a > img{
        float: left;
        margin: 0 0px 4% 2%;
        width: 3%;
        box-sizing: border-box;
    }
    footer #footer-contact a span{
        float: left;
        margin: 1% 0 4% 2%;
        font-weight: bold;
        font-size: 1.3em;
    }
    footer #footer-contact a *:hover{
        opacity: 0.5;
    }
    /*goToTop*/
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: dodgerblue; /* Set a background color */
        color: black; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }
    #myBtn:hover {
        background-color: goldenrod; /* Add a dark-grey background on hover */
    }
}
@media only screen and (max-width : 768px) {
    #container-introduce .introduce-box h3{
        font-size: 1.2em;
    }
    #container-introduce .introduce-box p{
        padding: 20px 40px 20px 20px; 
        color: wheat;
        font-size: 1.2em;
    }
    #container-introduce .introduce-box{
        width: 100%;
    }
    @keyframes logo{
        0%   {left:0px; top:0px;}
        100% {left:500px; top:0px;}
    }
    /*That is footer*/
    footer{
        height: 550px;
    }
    footer #footer-product div{
        padding: 0 0 20px 40px;
        width: 90%;
    }
    footer #footer-product div:first-child{
        width: 90%;
    }
    footer #footer-contact img{
        width: 10%;
    }
    footer #footer-contact a > img{
        width: 10%;
    }
    footer #footer-contact span{
        margin: 10px 10% 4% 40px;
    }
    footer #footer-contact > span{
        width: 100%;
    }
    #footer-contact > a:nth-child(4) > img:nth-child(1) {
        margin-left: 40px;
    }
}
@media only screen and (max-width : 480px) {
    #background{
        margin-top: 50px;
        height: 600px;
    }
    #background h1{
        padding-top: 50px;
        padding-left: 30px;
        font-size: 2em;
        line-height: 40px;
    }
    #background span{
        padding-left: 30px;
    }
    #background h2{
        padding-top: 10px;
        padding-left: 30px;
        font-size: 1.5em;
    }
    @keyframes logo{
        0%   {left:0px; top:0px;}
        100% {left:300px; top:0px;}
    }
    #clickHome #whycse{
        margin-top: 10px;
        margin-left: 40px;
        font-size: 1.2em;
    }
    #clickHome a:first-child{
        padding: 20px 30px;
        margin: 20px 20px 0px 30px;
        font-size: 1.5em;
    }
    #container-box .box{
        width: 90%;
    }
    
    #container{
        width: 100%;
        height: 1240px;
    }
    #container-introduce .introduce-box{
        width: 100%;
        height: 350px;
    }
    #container-introduce .introduce-box p{
        padding: 20px 30px 20px 40px; 
    }
    footer{
        height: 550px;
    }
    footer #footer-product div{
        padding: 0 0 20px 40px;
        width: 90%;
    }
    footer #footer-product div:first-child{
        width: 90%;
    }
    footer #footer-contact img{
        width: 10%;
    }
    footer #footer-contact a > img{
        width: 10%;
    }
    footer #footer-contact span{
        margin: 10px 10% 4% 40px;
    }
    #footer-contact > a:nth-child(4) > img:nth-child(1) {
        margin-left: 40px;
    }
}