@media only screen and (max-width : 1440px) {
    body{
        margin:0;
    }
    * {
        box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
    }
    #mobile{
        display: none;
    }
    #navbar{
        overflow: hidden;
        background-color: white;
        transition: 0.4s;
        position: fixed;
        width: 100%;
        padding: 0;
        top: 0;
        z-index: 99;
    }
    #navbar img{
        width: 5%;
        margin: 0.5% 0.5%;
        display: inline-block;
    }
    #navbar-right{
        margin: 1.5% 1%;
        right: 1px;
        display: inline-block;
        position: fixed;
    }
    .navbar-element{
        float: left;
        font-size: 1em;
        color: grey;
        text-align: center;
        text-decoration: none;
        padding: 0.5em 0.5em;
    }
    .dropdown-content a{
        font-size: 1em;
        color: grey;
        text-align: center;
        padding: 0.5em 0.5em;
        text-decoration: none;
    }
    #navbar-right > a:nth-child(5){
        box-shadow: 1px 1px 1px 0px dodgerblue;
        border-radius: 5px;
        border: 1px solid dodgerblue;
    }
    #navbar-right > a:nth-child(5):hover{
        color: white;
        background-color: dodgerblue;
    }
    .dropdown-content .input-group i{
        width: 20%;
        float: left;
        padding: 5px 2px;
    }
    .dropdown-content .input-group input{
        width: 75%;
        padding: 5px 5px;
        float: left;
    }
    .dropdown-content .input-group{
        margin: 0px;
    }
    .dropdown-content #loginButton{
        margin: 5px 10px 5px 10px;
        padding: 5px 10px;
        width: 88.5%;
        font-size: 1em;
    }
    #linkLogin a::after{
        clear: both;
        content: "";
        display: block;
    }
    #linkLogin a{
        float: left;
        font-weight: bold;
        padding-top: 5px;
    }
    .dropdown-content p{
        text-align: center;
        margin: 5px 0;
    }
    #facebookButton{
        border: 1px solid black;
        background-color: dodgerblue;
        margin: 0 10px 5px 10px;
        padding-top: 5px;
        text-align: center;
        height: 30px;
        color: wheat;
    }
    #facebookButton:hover{
        background-color: wheat;
    }
    .dropdown{
        overflow: hidden;
    }
    .dropdown .dropbtn{
        font-size: 16px;
        border: none;
        outline: none;
        color: grey;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        padding-bottom: 10px;
    }
    #navbar a:hover, .dropdown:hover .dropbtn{
        color: dodgerblue;
    }
    .dropdown-content{
        display: none;
        position: fixed;
        background-color: snow;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 99;
        padding-bottom: 15px;
    }
    .dropdown-content a {
        float: none;
        color: grey;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 0.9em;
        height: 0.5em;
    }
    .dropdown-content a:first-child{
        font-weight: bold;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    #navbar ::after{
        clear: both;
        content: "";
        display: block;
    }
}
@media only screen and (max-width : 768px) {
    #mobile{
        display: block;
    }
    #navbar{
        background-color: lightblue;
    }
    #navbar-right .navbar-element{
        width: 100%;
        text-align: left;
        padding-bottom: 10px;
        cursor: default;
    }
    #navbar-right .dropbtn{
        padding-left: 0;
    }
    #navbar-right .dropdown{
        padding-bottom: 0px;
    }
    #navbar-right > a:nth-child(5) {
        box-shadow: 0px 0px lightblue;
        border-radius: 0px;
        border: 0px;
    }
    #navbar-right{
        display: none;
        background-color: white;
        margin-left: 0;
        margin-top: 0px;
        padding-right: 0px;
        width: 100%;
    }
    .icon {
        font-size: 2em;
        position: fixed;
        top: 8px;
        right: 25px;
    }
    #navbar-right > a:nth-child(5):hover{
        color: dodgerblue;
        background-color: white;
    }
    .dropdown:hover .dropdown-content {
        display: none;
    }
    .dropdown .dropdown-content {
        display: none;
        background-color: white;
        left: 0;
        box-shadow: none;
        position: relative;
    }
    #navbar img:nth-child(2) {
        margin-right: 70%;
    }
    #navbar img {
        width: 6%;
    }
    
}
@media only screen and (max-width : 480px) {
    .icon {
        font-size: 2em;
        top: 10px;
        right: 20px;
    }
    #navbar img:nth-child(2) {
        margin-right: 60%;
    }
    #navbar img {
        width: 10%;
    }
}