 
body {
    background-color: wheat;
}

.jumbotron{
    background-image: url("image/store.jpg");
    color: wheat;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width : 1440px) {
    #store-content::after{
        clear: both;
        content:"";
        display: block;
    }
    #store-content{
        height: 100%;
    }
    #boxLeft{
        float: left;
        width: 20%;
        padding-left: 1rem;
        padding-top: 1rem;
        border-right: 1px solid silver;
    }
    .category{
        margin-bottom: 3rem;
    }
    .category .titleCategory h4{
        margin-bottom: 1.5rem;
    }
    .category .listGroupItem{
        padding: 0.5rem 0 0.5rem 0;
    }
    .category .listGroupItemChild{
        padding: 0.5rem 0 0.5rem 1rem;
    }
    .category .listGroup a{
        text-decoration: none;
        color: black;
    }
    .category .listGroup *:hover{
        background-color: silver;
    }
    .category .listGroup span{
        margin-left: 5px;
        color: gray;
    }
    #inputRange input{
        width: 40%;
        margin: 0 0.5rem 1rem 0.2rem;
        border-radius: 4px;
        border: 1px solid gray;
        height: 25px;
    }
    #chooseRange button{
        margin: 0 0.5rem 1rem 0.2rem;
        width: 40%;
        border-radius: 4px;
        border: 1px solid dodgerblue;
        padding: 5px 20px;
        cursor: pointer;
        color: dodgerblue;
    }
    #chooseRange button:hover{
        color: wheat;
        background-color: dodgerblue;
    }
    #boxRight{
        float: left;
        width: 78%;
        padding-left: 2rem;
        padding-top: 2rem;
    }
    #optionBox::after{
        clear: both;
        content: "";
        display: block;
    }
    #optionBox{
        padding-bottom: 0.5rem;
        border-bottom: 1px solid silver;
    }
    #optionChoose{
        float: left;
    }
    #optionChoose *{
        margin-right: 1rem;
    }
    #optionChoose a{
        cursor: pointer;
    }
    #optionChoose a:hover{
        color: dodgerblue;
        padding-bottom: 0.7rem;
        border-bottom: 1px solid dodgerblue;
    }
    .closebtn{
        display: none;
    }
    #searchBox{
        float: left;
        margin-left: 5rem;
    }
    #searchBox input{
        height: 25px;
        width: 15rem;
        font-size: 1rem;
        border-radius: 4px 0 0 4px;
        border: 1px solid silver;
        padding-left: 1rem;
    }
    #searchBox button{
        margin-left: 0;
        height: 26px;
        border-radius: 0 4px 4px 0;
        border: 1px solid silver;
        cursor: pointer;
    }
    #searchBox button:hover{
        opacity: 0.7;
    }
    #searchBox input::placeholder{
        color: gray;
    }
    #handleMobile{
        display: none;
    }
    #smallBox{
        padding: 2rem 0 2rem 0;
        border-bottom: 1px solid silver;
    }
    #productBox{
        padding: 10px 40px 20px 0;
    }
    #smallBox::after{
        clear: both;
        content: "";
        display: block;
    }
    .productSmallBox{
        float: left;
        width: 25%;
        padding: 1rem;
        height: 35rem;
        cursor: pointer;
    }
    .productSmallBox:hover{
        box-shadow: 0px 5px 5px grey;
    }
    .productSmallBox .linkProduct{
        text-decoration: none;
    }
    .productSmallBox img{
        width: 100%;
    }
    .smallImg img{
        width: 20%;
        cursor: pointer;
    }
    .smallImg img:first-child{
        border: 1px solid orange;
    }
    .titleProduct{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: black;
    }
    .priceProduct{
        margin-top: 1rem;
        font-weight: bold;
        font-size: 1.2rem;
        color: black;
    }
}
@media only screen and (max-width : 768px) {
    #inputRange input{
        width: 70%;
    }
    #chooseRange button{
        width: 70%;
    }
    .category{
        font-size: 0.7em;
    }
    .productSmallBox:hover{
        box-shadow: none;
    }
}
@media only screen and (max-width : 480px) {
    #boxLeft{
        float: left;
        width: 35%;
        display: none;
    }
    #boxRight{
        float: left;
        width: 90%;
    }
    #optionChoose {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        background-color: white;
        left: 0;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    #boxLeft{
        position: fixed;
        z-index: 99;
        top: 0;
        display: none;
        background-color: white;
        right: 0;
    }
    #optionChoose > *{
        display: block;
        padding: 10px 0px;
    }
    #optionChoose a:hover{
        color: black;
        padding: 10px 0px;
        border: none;
    }
    #searchBox{
        margin-left: 0;
    }
    .productSmallBox{
        width: 100%;
        border: 1px solid silver;
    }
    #handleMobile{
        display: block;
    }
    .closebtn{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        cursor: pointer;
    }
    #sorting{
        float: left;
        width: 75%;
    }
    #filter{
        float: left;
    }
    #sorting button, #filter button{
        background-color: wheat;
        cursor: pointer;
        border: none;
        font-size: 1em;
        padding: 5px 5px;
    }
}