@media only screen and (max-width : 1440px) {
    /*background T-shirt*/
    #background{
        background-image: url("image/bg_aohoi_blue.jpg");
        margin-top: 5%;
        height: 600px;
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(150%);
    }
    #background h1{
        padding-top: 15%;
        padding-left: 8%;
        margin-bottom: 0px;
        color: wheat;
        font-size: 2.8em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
        line-height: 54px;
    }
    #background h2{
        padding-top: 10px;
        padding-left: 8%;
        color: wheat;
        font-weight: 200;
        font-size: 2em;
        margin: 0;
    }
    #clickContact a{
        float: left;
        padding: 20px 70px;
        margin: 50px 40px 0px 8%;
        color: grey;
        font-weight: 200;
        font-size: 1.5em;
        background-color: goldenrod;
        cursor: pointer;
        border: 1px solid wheat;
        text-decoration: none;
    }
    #clickContact a:hover{
        background-color: gold;
        color: grey;
        transition: 0.5s;
    }
    /*T-shirt-content*/
    #T-shirt-content{
        background-color: wheat;
        padding-left: 8%;
        height: 2340px;
    }
    #T-shirt-content .header-content{
        margin-top: 0;
        padding-top: 8%;
        font-size: 1.8em;
    }
    #T-shirt-content > span{
        font-size: 3em;
        color: darkblue;
        display: inline-block;
        line-height: 0.5em;
        margin-top: -100px;
        font-weight: bolder;
    }
    #T-shirt-content .header-content-detail::after{
        clear: both;
        content: "";
        display: block;
    }
    #T-shirt-content .header-content-detail a{
        margin-top: 45px;
        font-size: 1.5em;
        color: darkblue;
        float: left;
    }
    #T-shirt-content .header-content-detail div{
        float: left;
        margin-left: 30px;
        width: 90%;
    }
    #T-shirt-content .header-content-detail h2:first-child{
        margin: 30px 0 5px 0;
        font-size: 1.2em;
    }
    #T-shirt-content .header-content-detail h2:last-child{
        margin: 5px 0 5px 0;
        font-size: 1.2em;
        font-weight: 400;
    }
    #T-shirt-content .descriptionHeader{
        font-weight: 400;
        text-align: justify;
        margin: 45px 8% 0 0;
        font-size: 1.2em;
        line-height: 40px;
    }
    /*Description*/
    #containerTshirt::after{
        clear: both;
        content: "";
        display: block;
    }
    #containerTshirt #imageTshirt,#descriptionTshirt{
        width: 45%;
        box-sizing: border-box;
        margin-top: 45px;
        float: left;
    }
    #containerTshirt #advertisement{
        margin-top: 45px;
        width: 10%;
        box-sizing: border-box;
        float: left;
        height: 600px;
        border: 1px solid black;
        text-align: center;
        line-height: 600px;
    }
    #descriptionTshirt *{
        margin: 0 0 10px 10px;
        box-sizing: border-box;
    }
    #descriptionTitle{
        border-bottom: 1px solid silver;
        margin-right: 10px;
    }
    #descriptionTitle h2{
        color: darkblue;
    }
    #descriptionTitle #rating{
        margin-bottom: 0px;
        margin-left: 0px;
    }
    #descriptionTitle #rating a{
        margin-right: -5px;
        color: goldenrod; 
    }
    #descriptionTitle #brand span{
        font-weight: 400;
        font-size: 1.1em;
        color: black;
        margin-top: -10px;
        margin-left: 0px;
    }
    #descriptionTitle #brand a{
        color: dodgerblue;
        text-decoration: none;
        margin-left: 0px;
    }
    #price{
        color: red;
        margin: 10px 10px;
        padding: 10px 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid silver;
        font-size: 1.5em;
    }
    #descriptionTitle #rating a:last-child{
        color: dodgerblue;
        text-decoration: none;
    }
    #descriptionContent{
        padding-top: 10px;
        padding-bottom: 15px;
        margin-right: 10px;
        border-bottom: 1px solid silver;
    }
    #descriptionContent h2:nth-child(odd){
        font-size: 1.2em;
        color: darkblue;
    }
    #descriptionContent h2:nth-child(even){
        font-weight: 400;
        font-size: 1.1em;
    }
    #buying::after{
        clear: both;
        content: "";
        display: block;
    }
    #buying{
        margin-top: 20px;
        margin-right: 10px;
        padding-bottom: 90px;
        border-bottom: 1px solid silver;
    }
    #buying #size,#quality,#buyButton{
        float: left;
        margin-right: 10px;
    }
    #buying h4{
        color: darkblue;
    }
    #buying button:nth-child(2){
        border-right: medium none;
        border-radius: 4px 0px 0px 4px;
    }
    #buying button:last-child{
        border-left: medium none;
        border-radius: 0px 4px 4px 0px;
    }
    #buying button{
        margin: 0;
        width: 30px;
        box-sizing: border-box;
        cursor: pointer;
    }
    #buying button:hover{
        background-color: grey;
    }
    #buying input, button{
        margin: 0;
        height: 30px;
        font-size: 14px;
        text-align: center;
        outline: currentColor none medium;
        border: 1px solid silver;
        box-sizing: border-box;
    }
    #buying input{
        width: 40px;
    }
    #buying input:hover{
        border: 1px solid dodgerblue;
    }
    #buying #buyButton input{
        cursor: pointer;
        height: 55px;
        width: 200px;
        border-radius: 8px;
        color: wheat;
        background-color: red;
        font-size: 1.1em;
        font-family: Arial, Helvetica, sans-serif;
    }
    #buying #buyButton input:hover{
        opacity: 0.6;
    }
    #originalImage::after{
        clear: both;
        content: "";
        display: block;
    }
    #miniImage {
        float: left;
        width: 14%;
        box-sizing: border-box;
    }
    #miniImage img{
        width: 100%;
        height: 100%;
        background-size: cover;
        padding: 5px;
        margin: 0 0 5px 0;
        border: 1px solid silver;
        box-sizing: border-box;
        cursor: pointer;
    }
    #miniImage img:hover{
        border: 1px solid dodgerblue;
    }
    #miniImage #transparentImageText{
        position: relative;
        margin: 0;
    }
    #transparentImageText #contentImageText{
        position: absolute; /* Position the background text */
        bottom: 0; /* At the bottom. Use top:0 to append it to the top */
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1; /* Grey text */
        width: 100%; /* Full width */
        margin-bottom: 5px;
        height: 100%;
        cursor: pointer;
    }
    #contentImageText p{
        margin-top: 5%;
        text-align: center;
    }
    #bigImage{
        float: left;
        width: 86%;
        box-sizing: border-box;
        position: relative;
    }
    .imgMagnifierGlass{
        position: absolute;
        border: 1px solid #000;
        cursor: none;
        width: 100px;
        height: 100px;
    }
    #bigImage img{
        padding: 0 20px;
        width: 100%;
        background-size: cover;
        height: 100%;
        box-sizing: border-box;
        border-right: 1px solid silver;
    }
    /*Table of size*/
    #sizeOfTshirts h1{
        margin-top: 80px;
    }
    #sizeOfTshirts table {
        margin-top: 45px;
        border-collapse: collapse;
        border-spacing: 0;
        width: 90%;
        border: 1px solid gray;
    }
    #sizeOfTshirts th, td {
        text-align: left;
        padding: 16px;
    }
    
    #sizeOfTshirts tr:nth-child(even) {
        background-color: #f2f2f2;
        font-size: 1.2em;
    }
    #sizeOfTshirts tr:nth-child(odd) {
        background-color: silver;
        font-size: 1.2em;
    }
    /*ContactUs*/
    #contactUs{
        background-color: dodgerblue;
        height: 420px;
    }
    #contactUs h2{
        text-align: center;
        color: wheat;
        padding: 10%;
        margin: 0;
        font-size: 1.7em;
    }
    #contactUs a{
        padding: 20px 70px;
        margin-left: 35%;
        color: wheat;
        font-weight: 200;
        font-size: 1.3em;
        background-color: goldenrod;
        cursor: pointer;
        border: 1px solid grey;
        text-decoration: none;
    }
    #contactUs a:hover{
        background-color: wheat;
        color: grey;
        transition: 0.6s;
    }
    /*Footer*/
    footer{
        background-color: lavender;
        height: 480px;
        color: grey;
    }
    footer h3{
        padding: 8% 0 2% 8%;
        color: grey;
        margin: 0;
    }
    footer #footer-product::after{
        clear: both;
        content: "";
        display: block;
    }
    footer #footer-product div{
        float: left;
        width: 25%;
        box-sizing: border-box;
        padding: 0 0 80px 8%;
        line-height: 1.5em;
        font-size: 1.1em;
    }
    footer #footer-product div:nth-child(1){
        width: 40%;
    }
    footer #footer-contact img{
        float: left;
        width: 5%;
        box-sizing: border-box;
        margin: 0 0 4% 2%;
    }
    footer #footer-contact > img:nth-child(1){
        margin-left: 8%;
    }
    footer #footer-contact span{
        float: left;
        box-sizing: border-box;
        margin: 1.5% 2% 4% 2%;
        font-size: 1.2em;
    }
    footer #footer-contact a > img{
        float: left;
        margin: 0 0px 4% 2%;
        width: 3%;
        box-sizing: border-box;
    }
    footer #footer-contact a span{
        float: left;
        margin: 1% 0 4% 2%;
        font-weight: bold;
        font-size: 1.3em;
    }
    footer #footer-contact a *:hover{
        opacity: 0.5;
    }
    /*goToTop*/
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: dodgerblue; /* Set a background color */
        color: black; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
        height: 50px;
    }
    #myBtn:hover {
        background-color: goldenrod; /* Add a dark-grey background on hover */
    }
    /*Light box image*/
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
    }
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 25.7%;
        max-width: 1200px;
    }
    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 100px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

        /* Hide the slides by default */
    .mySlides {
        display: none;
    }
    .demo {
        height: 50px;
        float: left;
    }
    .mySlides img{
        height: 400px;
    }

        /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

        /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

        /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

        /* Caption text */
    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }

    img.demo {
        opacity: 0.6;
        height: 100px;
        float: left;
        width: 25%;
        box-sizing: border-box;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    img.hover-shadow {
        transition: 0.3s;
    }

    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .column{
        width: 338px;
        box-sizing: border-box;
    }
}
@media only screen and (max-width : 768px) {
    #background{
        height: 500px;
    }
    #T-shirt-content{
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    #T-shirt-content .header-content{
        padding-top: 30px;
    }
    .imgMagnifierGlass{
        display: none;
    }
    #bigImage img{
        height: 300px;
    }
    #miniImage img{
        height: 53px;
    }
    #transparentImageText #contentImageText{
        margin-bottom: 5px;
        height: 60px;
    }
    #contentImageText p{
        margin-top: 5px;
    }
    #buying{
        padding-bottom: 10px;
    }
    #contactUs a{
        margin-left: 25%;
    }
    /*That is footer*/
    footer{
        height: 550px;
    }
    footer #footer-product div{
        padding: 0 0 20px 40px;
        width: 90%;
    }
    footer #footer-product div:first-child{
        width: 90%;
    }
    footer #footer-contact img{
        width: 10%;
    }
    footer #footer-contact a > img{
        width: 10%;
    }
    footer #footer-contact span{
        margin: 10px 10% 4% 40px;
    }
    footer #footer-contact > span{
        width: 100%;
    }
    #footer-contact > a:nth-child(4) > img:nth-child(1) {
        margin-left: 40px;
    }
}
@media only screen and (max-width : 480px) {
    #background{
        height: 400px;
    }
    #background h1{
        font-size: 2em;
        line-height: 40px;
    }
    #background h2{
        font-size: 1.5em;
    }
    #clickContact a{
        padding: 20px 40px;
        font-size: 1.5em;
    }
    #T-shirt-content{
        height: 3200px;
    }
    #T-shirt-content .header-content-detail div{
        width: 80%;
    }
    #containerTshirt #imageTshirt,#descriptionTshirt{
        width: 100%;
        box-sizing: border-box;
        margin-top: 45px;
        float: left;
    }
    #containerTshirt #advertisement{
        margin-top: 25px;
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
    #contactUs {
        height: 330px;
    }
    #contactUs h2{
        padding: 40px 42px;
        font-size: 1.5em;
    }
    #contactUs a{
        margin-left: 8%;
    }
    /*That's footer*/
    
    footer{
        height: 550px;
    }
    footer #footer-product div{
        padding: 0 0 20px 40px;
        width: 90%;
    }
    footer #footer-product div:first-child{
        width: 90%;
    }
    footer #footer-contact img{
        width: 10%;
    }
    footer #footer-contact a > img{
        width: 10%;
    }
    footer #footer-contact span{
        margin: 10px 10% 4% 40px;
    }
    #footer-contact > a:nth-child(4) > img:nth-child(1) {
        margin-left: 40px;
    }
}